body {
  font-family: 'Lato', sans-serif !important;
}

.testimonial {
  padding: 25px 0;
  background-color: #f7f7f7;
}

.depoimento-img {
  border: 6px solid #E7E7E7;
  border-radius: 115px;
  float: left;
  position: relative;
}

.depoimento-img img {
  width: 115px;
  float: left;
  border-radius: 115px;
}

.depoimento-img img::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0px 20px 20px;
  border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: -21px;
}

.depoimento-content p {
  font-size: 19px;
  font-style: italic;
  color: #746f6c;
  line-height: 1.6;
}

/************************MENU***********************/

.navbar-doctor .navbar-nav > li > a {
  color: #000 !important;
}

.navbar-doctor .navbar-nav > li > a:hover,
.navbar-doctor .navbar-nav > li > a:focus,
.navbar-doctor .navbar-nav > li.active > a,
.navbar-doctor .navbar-nav > li.active > a:focus{
  background-color: transparent;
  color: #3498db !important;
}

/*******************************************************/
